.title_container {
    -fx-background-radius: 10px;
    -fx-background-color: #476F65;
}


.content_container {
    -fx-spacing: 10;
    -fx-font-size: 14;
    -fx-font-weight: 700;
}

.content_container Button {
    -fx-background-color: #FFFFFF;
    -fx-background-radius: 10px;
}

.content_container FontAwesomeIconView {
    -fx-fill: #476F65;
}

.saveBtn {
    -fx-background-color: #476F65;
    -fx-font-weight: 700;
    -fx-text-fill: #FFFFFF;
    -fx-background-radius: 10px;
    -fx-font-size: 24;
}

.saveBtn FontAwesomeIconView {
    -fx-fill: #FFFFFF;
}

.text-input {
    -fx-font-family: "Arial";
    -fx-font-size: 14px;
    -fx-text-fill: -fx-text-inner-color;
    -fx-highlight-fill: derive(-fx-control-inner-background,-20%);
    -fx-highlight-text-fill: -fx-text-inner-color;
    -fx-background-color: transparent;
    -fx-background-insets: 0;
    -fx-background-radius: 0;
    -fx-border-color: transparent transparent #616161 transparent;
    -fx-border-width: 1;
    -fx-border-insets: 0 0 1 0;
    -fx-border-style: hidden hidden solid hidden;
    -fx-cursor: text;
    -fx-padding: 0.166667em 0em 0.333333em 0em;

}

.text-input:focused {
    -fx-highlight-fill: #3f51b51f;
    -fx-text-fill: -fx-text-inner-color;
    -fx-background-color: transparent;
    -fx-border-color: transparent transparent #324D46 transparent;
    -fx-border-width: 3;
    -fx-border-insets: 0 0 2 -1;
    -fx-prompt-text-fill: transparent;
    -fx-padding: 2 0 4 0;
}

.text-input:readonly {
    -fx-background-color: transparent;
    -fx-text-fill: derive(-fx-text-base-color, 35%);
    -fx-border-color: transparent transparent #616161 transparent;
}
.text-input:focused:readonly {
    -fx-text-fill: derive(-fx-text-base-color, 35%);
    -fx-border-color: transparent transparent #324D46 transparent;
}
.text-input:disabled {
    -fx-opacity: 0.46;
    -fx-border-color: transparent transparent black transparent;
}